@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");
/*Base code*/
body, html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: #f7f7f7; }

input[type=text] {
  border: 1px solid black; }

/*Sass code*/
.footersec a {
  color: #ffffff; }

.footersec span {
  color: #ffffff; }

.footersec p {
  color: #ffffff; }

.footersec .contdet {
  margin-top: 30px; }

.navbar a {
  color: #ffffff !important; }

header a {
  color: #ffffff !important; }

.container {
  background: #ffffff; }

.social-links:hover {
  color: #ffffff; }

.cardcust {
  background: #e9ecef;
  border-radius: 6px; }

.footersec {
  background-color: #465052; }

.formcls form {
  background: #e4e5e6;
  border-radius: 13px; }

.cardcust .imgcls img {
  height: 62%;
  width: 70%;
  margin-top: 21px; }

.social-links {
  font-size: 28px;
  color: #ffffff; }

.social-links span {
  margin-left: 10px; }

header, .navbar {
  background-color: #394c69 !important;
  color: #ffffff !important; }

.cardcust .card {
  width: 18rem; }

.cardcust, .copyright {
  text-align: center; }

.formcls {
  border-radius: 6px;
  padding: 12px; }

.enqform h3 {
  font-size: 1.75rem;
  text-shadow: 1px 2px 1px #908888;
  margin: 7px 0px 0px 12px; }

.footersec h2 {
  color: #ffffff; }

.navbar-nav a:hover {
  color: red !important; }

.formcls .card button {
  color: #343a40;
  font-weight: bold; }

.formcls .btn.btn-dark {
  background-color: #666769;
  border-color: #666769; }

.btn.btn-dark {
  background-color: #666769;
  border-color: #666769; }
