@import url("./bootstrap.min.css");

/*Base code*/
body,html,form{
    margin:0;
    padding:0;
    font-family: 'Varela';font-size: 16px;
    background: #f5f5f5;
}
input[type=text]{
    border:1px solid black;
}




