//variables theame color change
$font:    Helvetica, sans-serif;
$acolor: #ffffff;
$bgcolor:#f7f7f7;
$blackclr:black;

//@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

/*Base code*/
body,html{
    margin:0;
    padding:0;
    font-family:$font;
    background:$bgcolor;
}
input[type=text]{
    border:1px solid $blackclr;
}

/*Sass code*/

%btn-color {
    background-color: #666769;
    border-color: #666769;
}

@mixin bgradius($color, $rad) {
    background: $color;
    border-radius: $rad;
}


.footersec{
    a{

        color:$acolor
      }
    span{

        color:$acolor
    }
    p{
        color:$acolor
    }
    .contdet{
        margin-top: 30px;
    }
}

.navbar a{
    color:$acolor !important;;
}

header a{
    color:$acolor !important;
}
.container{
    background: $acolor;
}
.social-links:hover{
    color:$acolor;
}
.cardcust{
    @include bgradius(#e9ecef,6px);
    /*background: #e9ecef;
    border-radius: 6px;*/
}
.footersec{
    background-color: #465052;
}
.formcls{
    form{
        @include bgradius(#e4e5e6,13px);
        /*background: #e4e5e6;
        border-radius: 13px;*/
    }

}
.cardcust{
    .imgcls{
        img{
            height: 62%;
            width: 70%;
            margin-top: 21px;
        }
    }
}
.social-links{
    font-size: 28px;
    color:$acolor;
}

.social-links span{
    margin-left: 10px;
}

header,.navbar {
    background-color: #394c69 !important;
    color:$acolor !important;
}

.cardcust .card {
    width: 18rem;
}

.cardcust,.copyright {
    text-align: center;
}

.formcls{
    border-radius: 6px;
    padding: 12px;
}

.enqform h3{
    font-size: 1.75rem;
    text-shadow: 1px 2px 1px #908888;
    margin: 7px 0px 0px 12px;
}
.footersec h2{
    color:$acolor;
}
.navbar-nav a:hover{

    color:red !important;
}
.formcls{
    .card{
        button{
            color:#343a40;
            font-weight: bold;
        }
    }

    .btn.btn-dark{
        @extend %btn-color;
   }
}
.btn.btn-dark{
    @extend %btn-color;
}

.footersec{
    .links{
        margin-top: 15px;
    }
}



